body {
    background: #ccc;
}

#title, .subtitle, .Sobre_mim_title, .Links {
    color: blue;
}

.title {
    font-size: 16px;
    font-style: 16px;

}

.Links {
    font-size: 16px;
    font-style: italic;
}
